.header {
    position: fixed;
    top: 0px; right: 0; left: 0; margin: 0 auto;
    background-color: $primaryTheme;
    width: 100%;
    height: 5em;

    .mainTitle {
        text-align: left;
        padding-left: 2em;
        color: $primaryFont;
    }
}